# ignore submodules
asp-gr_peach_gcc-mbed
lwip
lwip-contrib

build_failure.txt
result.py
dump.py
fetch-memory.py
angr.log
angr-mem-graph.png

trace**/
output-*/
log-*/
memo/*
bin/*
*.pyc
*.bak
*.swp
*.mpg
.[0-9]*
.gdb_history
peda-session*
private.*
